body {
  font-family: 'Roboto', sans-serif;
  background-color: #EBEDE5;
  color: #1A3334;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif;
  margin: 1rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
 font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

pre, span.code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

pre.block {
  color: #fff;
  background-color: #152727;
  line-height: 1.4rem;
  padding: 1rem;
}

strong {
  font-weight: 500;
}

p {
  padding: 1rem 0;
}

ol, ul {
  padding-left: 1rem;
  margin: 1rem;
}

ol {
  list-style: decimal;
}

ul {
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: #E99128;
}

a:visited {
  color: #80C0A8;
}

nav {
  background-color: #E99128;
  padding: 0 2rem;
  line-height: 2rem;
}

nav a {
  color: #EFF0EA;
}

nav a:visited {
  color: #EFF0EA;
}

.center {
  margin: 0 auto;
  max-width: 48rem;
}
